*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.carouselImageText{
  position: absolute;
  top: 25%;
  color: aliceblue;
  padding: 10px;
  padding-left: 100px; 
}

.carouselText{
 font-size: 40px;
 font-weight: bold;
 text-transform: uppercase;
 padding-top: 30px;
 padding-left: 40px;
}

.carouselh3{
  background-color: #D2093C;
  display: inline-block;
  margin-left: 40px;
  padding: 4px;
  margin-top: 5px;
}

.cardh2{
  text-align: center;
  font-weight:bold ;
  color: #00306E;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.introdiv{
  margin-bottom: 180px;
  
}

.introText{
  color: #00306E;
  font-weight: bold;
}
.introPara{
  color: #7B7777;
  font-weight: 600;
}
.intro a{
text-decoration: none;
}

.btnDiv1{
  margin-left: 20px;
}

.campuslife{
  background-color: #F5F5F5;
}
.campusH{
  padding-top: 30px;
}
.campusDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.campusD{
  border: 1px solid black;
  box-sizing: 30px;
  margin: 20px;
  padding: 50px;
  width: 450px;
  height: 380px;
 background-color: white;
  margin-right: 100px;


}
.campush5{
  color:#00306E ;
  font-weight: bold;
}

.img18{
  position: relative;
  right: 8%;
}

.btnDiv2{
  text-align: center;
}
.btnDiv3{
  text-align: center;
  margin-top: 40px;
}

.pop2{
  display:flex ;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: #D2093C; 
  color: aliceblue;
  font-weight: bold; 
  gap: 60px;
  padding: 20px;
  margin: 50px;
}

.upcom1{
  background-color: #F5F5F5;
}

.say1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  padding-bottom: 20px;
  margin: 100px;
  border-radius: 20px
}


/* fjf */

.container1{
	max-width: 1170px;
	margin:auto;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
.ul1{
	list-style: none;
  color: aliceblue
}
.footer1{
	background-color: #0F1216;
    padding: 70px 0;
}
.footer-col1{
   width: 25%;
   padding: 0 15px;
}
.footer-col1 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col1 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #D2093C;;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col1 ul{
  padding: 20px;
}
.footer-col1 ul li{
	margin-bottom: 10px;
  list-style: none;
}
.footer-col1 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color:#D2093C;
	text-decoration: none;
	font-weight: 600;
	color: aliceblue;
	display: block;
	transition: all 0.3s ease;
}
.footer-col1 ul li a:hover{
	color:#D2093C;;
	padding-left: 8px;
}

.input1{
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}
.input2{
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}